target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

smartsync/smartsync-example/.settings
smartsync/smartsync-core/.settings
smartsync/smartsync-rest/.settings
.classpath
.projecttarget/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

smartsync/smartsync-example/*.sqlite